.page-main__heading {
  @include opensansbold;
  background-image: url("hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  padding-top: 93px;
  padding-bottom: 193px;
  font-size: 27px;
  line-height: 1.11;
  text-align: center;
  color: #010000;
}
