.production {
  outline: 1px solid #ececec;
  padding-top: 29px;
  padding-bottom: 33px;
  margin-bottom: 58px;
  margin-top: 30px;
  position: relative;
}

.production__heading {
  @include opensansbold;
  font-size: 17px;
  line-height: 1.41;
  color: #000000;
  margin-top: 0;
  margin-bottom: 26px;
}

.production__video {
  position: absolute;
  top: 96px;
  left: 0;
}

.production__description {
  padding-left: 34px;
  padding-right: 34px;
}

.production__text {
  @include opensans;
  font-size: 13px;
  line-height: 1.85;
  color: $greyish-brown;
  margin-top: 210px;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .production {
    position: inherit;
    padding-top: 0;
    margin-top: 53px;
  }

  .production__video {
    width: 668px;
    position: inherit;
  }

  .production__description {
    margin-top: 43px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .production__text {
    margin-top: 41px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    display: flex;
    padding: 0;
    margin-top: 57px;
  }

  .production__video {
    width: 682px;
  }

  .production__description {
    width: 367px;
    margin-top: 47px;
    padding-left: 80px;
    padding-right: 57px;
  }
}
