.main-nav {
  border-top: 1px solid #ececec;
}

.main-nav__toggle {
  font-size: 0;
}

.site-list {
  @include list-reset;
}

.site-list__item {
  border-bottom: 1px solid #ececec;
}

.site-list__link {
  @include opensansbold;
  display: block;
  font-size: 17px;
  line-height: 1.41;
  color: #000000;
  text-align: center;
}
