@mixin opensansbold {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
}

@mixin opensans {
  font-family: "OpenSans", "Arial", sans-serif;
}

@mixin list-reset {
  list-style-type: none;
  padding-left: 0;
}
