.catalog-products__list {
  @include list-reset;
  margin: 0;
}

.catalog-products__item {
  outline: 1px solid #ececec;
  margin-top: 30px;
}

.catalog-products__container {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 31px;
  margin-bottom: 30px;
}

.catalog-products__title {
  @include opensansbold;
  font-size: 17px;
  line-height: 1.41;
  color: #000000;
  margin: 0;
}

.catalog-products__description {
  @include opensans;
  font-size: 13px;
  line-height: 2.31;
  color: $greyish-brown;
  margin-top: 17px;
  margin-bottom: 26px;
  padding-bottom: 27px;
}

.catalog-products__priceblock {
  border-top: 1px solid #ececec;
}

.catalog-products__price {
  @include opensansbold;
  font-size: 15px;
  line-height: 1.6;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .catalog-products__item {
    display: flex;
  }

  .catalog-products__priceblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-products__list {
    display: flex;
  }

  .catalog-products__item {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;
  }

  .catalog-products__item:nth-of-type(3n) {
    margin-right: 0;
  }
}
