@import "fonts/fonts",
  "vendors/normalize",
  "mixins/mixins",
  "abstracts/variables",
  "blocks/about-us/about-us",
  "blocks/add-cart-popup/add-cart-popup",
  "blocks/block-order/block-order",
  "blocks/catalog-products/catalog-products",
  "blocks/contacts/contacts",
  "blocks/main-nav/main-nav",
  "blocks/offers-nav/offers-nav",
  "blocks/page-footer/page-footer",
  "blocks/page-header/page-header",
  "blocks/page-main/page-main",
  "blocks/product-week/product-week",
  "blocks/production/production",
  "blocks/products-nav/products-nav",
  "blocks/reviews/reviews";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.button {
  @include opensansbold;
  border: 2px solid $greyish-brown;
  display: block;
  font-size: 17px;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: $greyish-brown;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 668px;
    padding: 0;
  }

  .main-nav {
    min-height: 88px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1050px;
  }
}

//псевдоэлементом
/*.zigzag-line {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  min-height: 2px;
}*/
