.about-us__wrapper {
    margin-left: 30px;
    margin-top: 34px;
    margin-right: 30px;
    margin-bottom: 61px;
}

.about-us__heading {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
}

.about-us__list {
    list-style-type: none;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.18;
    letter-spacing: normal;
    color: #000000;
    padding-left: 0;
}

.about-us__item {
    margin-top: 32px;
}